<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <h1>coin toss</h1>
<!-- coin toss view -->

<%if @toss === "heads" %>
    <p>Heads</p>
  <% else %>
    <p>Tails</p>


  <%end%>

</body>
</html>
