<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<!-- dice roll view -->
  <h1>HOT dice</h1>

  <%  if @roll = "roll"
    num = 1 + rand(6)
    %>
  <p><%= num %></p>

  <% end %>

</body>
</html>
