body {
  color: grey;

}
.box {
  min-width: 910px;
  margin: 0px auto;
  width: 75%;
}

h1 {
  font-family: Lora;
}

p {

  margin: 0px;
}
span {
  color: #1B89CD ;
}
#special {

  margin: 40px 0px 0px 0px;
}
ul {
  padding: 0px;
}
li {
  display: inline-block;
  border: 3px solid #A2A2A2;
  max-width: 23%;
}
li img{
  width: 100%;
}
