<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <style>
    body {
      background-color: <%= color %>;
      }
    </style>
    <h1><%= title %></h1>
    <p><%= compliment %></p>

    <form name="compliment_form" id="compliment_form" method="post" action="/">
    <div>
        compliment: <input type="text" name="compliment" id="compliment">
    </div>
    <input type="submit" value="Save">
</form>
  </body>
</html>
